<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <!-- 
  name = Имя, которое используется для ссылки на данный раздел в файле настройки.
  type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
  -->
    <section name="ServicesSection" type="UserStorage.Configurations.ServicesConfigSection, UserStorage"/>
  </configSections>

  <ServicesSection>
    <Services>
      <add serviceIdentifier="master_1" serviceType="master" xmlPath="test_master_1.xml" host="localhost" port="8005"/>
      <add serviceIdentifier="slave_1" serviceType ="slave" xmlPath="test_slave_1.xml" host="localhost" port="1001"/>
      <add serviceIdentifier="slave_2" serviceType="slave" xmlPath="test_slave_2.xml" host="localhost" port="1002"/>
    </Services>
  </ServicesSection>
  
</configuration>